body {
  margin: unset;
  font-family: "Rubik", sans-serif;
}

.card-container {
  display: flex;
  margin-top: 180px;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

@media (orientation: landscape) {
  .card-container {
    margin-top: 40px;
  }
}

@media (min-height: 640px) {
  .card-container {
    margin-top: 200px;
  }
}

@media (orientation: landscape) and (min-height: 360px) {
  .card-container {
    margin-top: 60px;
  }
}

@media (min-height: 700px) {
  .card-container {
    margin-top: 240px;
  }
}

@media (orientation: landscape) and (min-height: 360px) {
  .card-container {
    margin-top: 80px;
  }
}

.card-background {
  position: fixed;
  z-index: -1;
  top: -50vh;
  left: -50vw;
  height: 200vh;
  width: 200vw;
  background-color: #110c0f;
}

.card-name {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 24pt;
}

@media (min-width: 375px) {
  .card-name {
    font-size: 36pt;
  }
}

.card-title {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 12pt;
}

@media (min-width: 375px) {
  .card-title {
    font-size: 18pt;
  }
}

.card-bio {
  max-width: 240px;
  margin-top: 20px;
  font-size: 8pt;
}

@media (min-width: 375px) {
  .card-bio {
    max-width: 360px;
    font-size: 12pt;
  }
}
