body {
  margin: unset;
  font-family: "Rubik", sans-serif;
}

.card-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 8pt;
}

@media (min-width: 360px) {
  .card-container {
    font-size: 12pt;
  }
}

.card-background {
  position: fixed;
  z-index: -1;
  top: -50vh;
  left: -50vw;
  height: 200vh;
  width: 200vw;
  background-color: #110c0f;
}

.card-name {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 24pt;
}

@media (min-width: 360px) {
  .card-name {
    font-size: 36pt;
  }
}

.card-title {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 12pt;
}

@media (min-width: 360px) {
  .card-title {
    font-size: 18pt;
  }
}

.card-bio {
  width: 240px;
  margin-top: 20px;
}

@media (min-width: 360px) {
  .card-bio {
    width: 360px;
  }
}

.card-links {
  width: 240px;
  display: flex;
  margin-top: 10px;
}

@media (min-width: 360px) {
  .card-links {
    width: 360px;
  }
}

.card-link {
  height: 20px;
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 6px;
  color: #d6d3d6;
  text-transform: lowercase;
  text-decoration: unset;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 360px) {
  .card-link {
    height: 40px;
    padding-left: 8px;
  }
}

.card-link::before {
  content: "\203A";
  margin-right: 6px;
  font-size: 12pt;
}

@media (min-width: 360px) {
  .card-link::before {
    content: "\203A";
    margin-right: 8px;
    font-size: 18pt;
  }
}
