body {
  margin: unset;
  font-family: "Rubik", sans-serif;
}

.card-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 8pt;
}

@media (min-width: 360px) {
  .card-container {
    font-size: 12pt;
  }
}

.card-background {
  position: fixed;
  z-index: -1;
  top: -50vh;
  left: -50vw;
  height: 200vh;
  width: 200vw;
  background-color: #110c0f;
}

.card-name {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 3em;
}

.card-title {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.5em;
}

.card-bio {
  width: 22.5em;
  margin-top: 1.25em;
}

.card-links {
  width: 22.5em;
  display: flex;
  margin-top: 0.5em;
}

.card-link {
  height: 2.5em;
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 0.5em;
  color: #d6d3d6;
  text-transform: lowercase;
  text-decoration: unset;
  font-weight: 300;
  font-style: italic;
}

.card-link::before {
  content: "\203A";
  margin-right: 0.33em;
  font-size: 1.5em;
}
