/* [44] */
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('M PLUS 1'), url('mplus1/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5_CG793ZcsGC6cNlB65MaFA6VrqezjlpgxBKCZ5bjkAc.44.woff2') format('woff2');
  unicode-range: U+57b3, U+57b8, U+57bd, U+57c0, U+57c3, U+57c6-57c8, U+57cc, U+57cf, U+57d2-57d7, U+57dc-57de, U+57e0-57e1, U+57e3-57e4, U+57e6-57e7, U+57e9, U+57ed, U+57f0, U+57f4-57f6, U+57f8, U+57fb, U+57fd-57ff, U+5803-5804, U+5808-580d, U+5819, U+581b, U+581d-5821, U+5826-5827, U+582d, U+582f-5830, U+5832, U+5835, U+5839, U+583d, U+583f-5840, U+5849, U+584b-584d, U+584f-5852, U+5855, U+5858-5859, U+585f, U+5861-5862, U+5864, U+5867-5868, U+586d, U+5870, U+5872, U+5878-5879, U+587c, U+587f-5881, U+5885, U+5887-588d, U+588f-5890, U+5894, U+5896, U+5898, U+589d-589e, U+58a0-58a2, U+58a6, U+58a9-58ab, U+58ae, U+58b1-58b3, U+58b8-58bc, U+58be, U+58c2-58c5, U+58c8, U+58cd-58ce, U+58d0-58da, U+58dc-58e2, U+58e4-58e5, U+58e9, U+58ec, U+58ef, U+58f3-58f4, U+58f7, U+58f9, U+58fb-58fd, U+5902, U+5905-5906, U+590a-590d, U+5910, U+5912-5914, U+5918-5919, U+591b, U+591d, U+591f, U+5921, U+5923-5925, U+5928, U+592c-592d, U+592f-5930, U+5932-5933, U+5935-5936, U+5938-5939, U+593d-593f, U+5943, U+5946, U+594e, U+5950, U+5952-5953, U+5955, U+5957-595b, U+595d-5961, U+5963, U+5967, U+5969, U+596b-596d, U+596f, U+5972, U+5975-5976, U+5978-5979, U+597b-597c, U+5981;
}
/* [90] */
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('M PLUS 1'), url('mplus1/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5_CG793ZcsGC6cNlB65MaFA6VrqezjlpgxBKCZ5bjkAc.90.woff2') format('woff2');
  unicode-range: U+4e18, U+4fb5, U+5104, U+52c7, U+5353, U+5374, U+53e5, U+587e, U+594f, U+5a20, U+5de1, U+5f18, U+5fcd, U+6291, U+62ab, U+6355, U+6392, U+63da, U+63e1, U+656c, U+6687, U+68b0-68b1, U+68d2, U+68da, U+6b27, U+6cbc, U+7159, U+7344, U+73cd, U+76df, U+790e, U+7cf8, U+8102, U+88c1, U+8aa0, U+8e0f, U+9178, U+92ad, U+9670, U+96c5, U+9cf4, U+9db4, U+ff3e, U+ff6f, U+ff72, U+ff78, U+ff7d, U+ff84, U+ff8c;
}
/* [117] */
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('M PLUS 1'), url('mplus1/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5_CG793ZcsGC6cNlB65MaFA6VrqezjlpgxBKCZ5bjkAc.117.woff2') format('woff2');
  unicode-range: U+4e, U+a0, U+3000, U+300c-300d, U+4e00, U+4e0a, U+4e2d, U+4e8b, U+4eba, U+4f1a, U+5165, U+5168, U+5185, U+51fa, U+5206, U+5229, U+524d, U+52d5, U+5408, U+554f, U+5831, U+5834, U+5927, U+5b9a, U+5e74, U+5f0f, U+60c5, U+65b0, U+65b9, U+6642, U+6700, U+672c, U+682a, U+6b63, U+6c17, U+7121, U+751f, U+7528, U+753b, U+76ee, U+793e, U+884c, U+898b, U+8a18, U+9593, U+95a2, U+ff01, U+ff08-ff09;
}
/* [119] */
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('M PLUS 1'), url('mplus1/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5_CG793ZcsGC6cNlB65MaFA6VrqezjlpgxBKCZ5bjkAc.119.woff2') format('woff2');
  unicode-range: U+20, U+2027, U+3001-3002, U+3041-307f, U+3081-308f, U+3091-3093, U+3099-309a, U+309d-309e, U+30a1-30e1, U+30e3-30ed, U+30ef-30f0, U+30f2-30f4, U+30fb-30fe, U+ff0c, U+ff0e;
}
/* latin */
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('M PLUS 1'), url('mplus1/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5_CGL9XxdkmSicYtU.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
